<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="WcfService1.Service1" behaviorConfiguration="mex">
	<host>
          <baseAddresses>
            <add baseAddress="http://172.17.60.87:8002/"/>
            <add baseAddress="net.tcp://172.17.60.87:8003/"/>
          </baseAddresses>
	</host>
        <endpoint behaviorConfiguration="wcfEnabledPost" binding="webHttpBinding"
          contract="WcfService1.IService1">
        </endpoint>
        <endpoint address="Service1.svc" binding="netTcpBinding" bindingConfiguration=""
          contract="WcfService1.IService1" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WcfService1.Service2">
        <endpoint address="" behaviorConfiguration="WcfService1.Service2AspNetAjaxBehavior"
          binding="webHttpBinding" contract="WcfService1.Service2" />
      </service>
    </services>
<bindings>
      <netTcpBinding>
        <binding portSharingEnabled="true"></binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfService1.Service2AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="wcfEnabledPost">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="svc" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler" resourceType="File" preCondition="integratedMode" />
        </handlers>
  </system.webServer>
  
</configuration>
